%section#eve_wrapper
	%section#content.animated.fadeIn
		/ Demo Text Content
		.pl15.pr50
			%h4 Welcome to EVE Trader
			%hr.alt.short
				%p.text-muted This resource allows productioneers to calculate most profitable blueprints. You just need to check for a specific blueprint and we will give you suggestions where to buy components (cheapest) and where to sell end products (most expensive). Please keep in mind, that as of now we are only covering solar systems which are a) safe and b) within an area of 5 jumps around the 5 main trade hubs (Jita, Amarr, Dodixie, Rens, Hek).

		/ begin: .tray-center
		.tray.tray-center
			/ Search Results Panel
			.panel
				.panel-heading
					%span.panel-title.text-muted.hidden-xs 
						=@total_amount
						blueprint results currently stored.
				.panel-menu
					%form
						=form_tag blueprints_path, method: 'get' do
							.row
								.col-md-6
									.input-group.input-hero.input-hero-sm
										%span.input-group-addon
											%i.fa.fa-search
										%input#icon-filter.form-control{:placeholder => "Enter blueprint ID or name...", :type => "text", :name => "search", :value => params[:search]}
								.col-md-6
									.input-group.input-hero.input-hero-sm
										%span.input-group-addon
											%i.fa.fa-calculator
										%input.form-control{:placeholder => "Desired amount of end products (default: 1)", :type => "text", name: 'minAmount', :value => params[:minAmount]}
									%span.help-block.mt5
										%i.fa.fa-bell
										Please do keep in mind, that for bigger blueprints (i.e. battleships) higher amounts will result in slower responses (for example for 100 Abaddons the service will need to find for you 1.387.033.300 units of cheapest Tritanium)
							.row
								.col-sm-4
								.col-sm-4
									= submit_tag "Search", :name => nil, class: 'btn btn-lg btn-system btn-block'
								.col-sm-4

				.panel-body.ph20
					.tab-content
						/ Classic Search Pane
						#search.tab-pane.active
							/ Search Pane Title
							%h3
								Displaying
								%b.text-primary 
									=@amount
								-unless params[:search]
									="random"
								results
							%hr.alt
								/ Begin Search Result Entries
								-@blueprints.each do |blueprint|
									.search-result
										%h3
											=link_to blueprint.name, blueprint_path(blueprint, minAmount: params[:minAmount])
										%ul.result-meta
											%li
												TypeID:
												=blueprint.id
											%li
												Placeholder
										%p Materials per one piece of end product:
										%ul.result-meta
											-blueprint.blueprint_items.each do |bpi|
												%li
													=bpi.quantity
													pieces of
													=findItemName(bpi.product_type_id)
													="(typeid: #{bpi.product_type_id})"
/ end: .tray-center
