- meta title: 'News'
- meta keywords: %w(latest news)

#eve_wrapper
	#content.animated.fadeIn
		.row
			.col-md-12
				.panel
					.panel-heading
						%span.panel-icon
							%i.fa.fa-newspaper-o
						%span.panel-title Latest news
					.panel-body
						-@nodes.map do |node|
							.bs-component
								%h1.mtn
									=node.at_css("h2").inner_html.html_safe
									/ =link_to one_news.title, news_path(one_news)
							%p 
								=node.at_css("div.entry-content").inner_html.html_safe
								/ =truncate(one_news.body.html_safe, length: 400) { link_to "Continue reading", news_path(one_news) }
							%h5.mtn
								=node.at_css('span.posted-on').inner_text
								/ ="written #{distance_of_time_in_words(one_news.created_at, Time.now)} ago"
							%hr