.main
	.header.navbar.navbar-fixed-top
		.navbar-branding
			%a.navbar-brand{ :href => "dashboard.html"}
				%b EVE
				Trader
		%ul.nav.navbar-nav.navbar-left
			%li
				%a{:href => "#", :role => "button"}
					Home
			%li
				%a{:href => "#", :role => "button"}
					About