.main
	.header.navbar.navbar-fixed-top
		.navbar-branding
			=link_to root_path, class: 'navbar-brand' do
				%b EVE
				Trader
		%ul.nav.navbar-nav.navbar-left
			%li
				=link_to 'Home', root_path
			%li
				=link_to 'About', about_path
			%li
				=link_to 'News', news_index_path