.main
	.header.navbar.navbar-fixed-top
		.navbar-branding
			%a.navbar-brand{ :href => "dashboard.html"}
				%b EVE
				Trader
		%ul.nav.navbar-nav.navbar-left
			%li
				=link_to 'Home', root_path
			%li
				=link_to 'About', about_path